<div class="container" style="margin-left: 5%;">
   <br><br>
   <h1>Bonjour, veuillez saisir les informations suivantes :</h1>
   <br>

   <input class="form-control" name="logi" [(ngModel)]="newcli.login" style="display: none;">
   <br>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Mot de passe : </span></div>
      <input type="text" class="form-control" name="pswi" [(ngModel)]="newcli.psw">
   </div>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Nom : </span></div>
      <input type="text" class="form-control" name="nomi" [(ngModel)]="newcli.nom">
   </div>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Prenom : </span></div>
      <input type="text" class="form-control" name="prenomi" [(ngModel)]="newcli.prenom">
   </div>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Adresse : </span></div>
      <input type="text" class="form-control" name="adressei" [(ngModel)]="newcli.adresse">
   </div>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Téléphone : </span></div>
      <input type="text" class="form-control" name="teli" [(ngModel)]="newcli.tel">
   </div>
   <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-outline-success" type="button" (click)="verif_form_inscr()">S'incrire</button>
   </div>
   <p class="mt-3" style="color:red;">
      {{message_form_inscr2}}
   </p>
</div>