<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8 card">
        <h1 class="my-4">Historique de mes commandes: </h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" *ngFor="let pist of lstcom">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" [attr.data-bs-target]="'#flush-collapse'+pist.id" data-bs-toggle="collapse"
                        aria-expanded="false" [attr.aria-controls]="'flush-collapse'+pist.id">
                        Commande du {{datePipe.transform(pist.date, "yyyy/MM/dd à HH:mm")}} - Total: {{pist.prixGlobal}} euros
                    </button>
                </h2>
                <div id="flush-collapse{{pist.id}}" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <table class="accordion-body table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Article</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Prix total</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ligne of pist.lignes">
                            <td>
                                {{ligne.article.nom}}
                            </td>
                            <td>
                                {{ligne.quantite}}
                            </td>
                            <td>
                                {{ligne.article.prix}}
                            </td>
                            <td>
                                {{ligne.article.prix * ligne.quantite}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>