<app-menu></app-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer style="position: absolute;bottom: 0;width: 100%;max-height: 1.5%;">
  <app-footer></app-footer>
</footer>


