<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" (click)="accueil()"><img src="/assets/images/footer-logo.png" alt="logo site"></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a id="accueil" class="nav-link" aria-current="page" (click)="accueil()">
                        Accueil
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a id="carte" class="nav-link" (click)="carte()">
                        Carte
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a id="resa" class="nav-link" (click)="reservation()">
                        Réservation
                    </a>
                </li>
                <li [style.display]='isclient? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1">
                    <a id="commande" class="nav-link" (click)="commande()">
                        Commande
                    </a>
                </li>
                <li [style.display]='isadmin? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1">
                    <a id="admin" class="nav-link" (click)="admin()">
                        Gérer article
                    </a>
                </li>
                <li [style.display]='isadmin? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1" >
                    <a id="adminResa" class="nav-link" (click)="adminResa()">
                        Gérer réservations
                    </a>
                </li>
            </ul>
            <!-- Left links -->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                <li [style.display]='!isclient? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1">
                    <a id="connexion" class="nav-link" (click)="connexion()">
                        Connexion
                    </a>
                </li>
                <li [style.display]='!isclient? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1">
                    <a id="inscription" class="nav-link" (click)="inscription()">
                        Inscription
                    </a>
                </li>
                <li [style.display]='isclient? "block" : "none"' class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" href="#" id="compte" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mon Compte
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="pageUtilisateur()">Mes Infos</a></li>
                        <li><a class="dropdown-item" (click)="historiquecommande()">Mes Commandes</a></li>
                        <li><a class="dropdown-item" (click)="historiquereservation()">Mes Reservations</a></li>
                    </ul>
                </li>
                <li [style.display]='isclient? "block" : "none"' class="nav-item text-center mx-2 mx-lg-1">
                    <a id="deconnexion" class="nav-link" (click)="deconnexion()">
                        Deconnexion
                    </a>
                </li>
            </ul>
            <!-- Right links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>