<div class="container" style="margin-left: 5%;">
    <br><br>
    <h1>Réservation : </h1>
    <br>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">Jour : </span></div>
            <select class="form-control" name="jour" id="jour" [(ngModel)]="jour1">
                <option *ngFor="let jo of listJour">
                    {{jo}}
                </option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">Heure : </span></div>
            <select class="form-control" name="heure" id="heure" [(ngModel)]="heure1">
                <option *ngFor="let he of listHeur">
                    {{he}}
                </option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Nombre de personnes : </span></div>
            <input type="number" name="nbPersonne" class="form-control" min="1" [(ngModel)]='nbrresa'>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Nom : </span></div>
            <input type="text" name="nom" class="form-control" [(ngModel)]='nomresa'>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Téléphone : </span></div>
            <input type="text" name="tel" class="form-control" [(ngModel)]='telresa'>
        </div>
        <input type="submit" class="btn btn-outline-success" (click)="valideresa()" value="Valider">
    </form>
    <p class="mt-3" style="color:red;">
        {{message_resa2}}
    </p>
</div>