
<div class="container">
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8 card">
            <h1 class="my-4">Connexion: </h1>

            <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">Login : </span></div>
                <input type="text" class="form-control" name="llog1" [(ngModel)]="log1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">Mot de passe : </span></div>
                <input type="password" class="form-control" name="mmdp1" [(ngModel)]="mdp1">
            </div>
            <input type="submit" class="btn btn-outline-success" (click)="connect()" value="Se connecter">
            </form>
            <p class="mt-3" style="color:red;">
                {{message_co}}
            </p>
        </div>
    </div>
</div>