<div class="container">
    <br><br>
    <div class="row">
        <div class="col-md-9" style="text-align: center;">
            <div class="product-grid">
                <h4>
                    Merci pour votre commande,
                    {{ client.nom }} {{ client.prenom }}
                </h4>
                <br>
                <h5>
                    Le total de votre commande s'élève à {{ prix_commande }} euros.
                </h5>
                <br>
                <p> Votre commande sera livrée à l'adresse:
                    <br>
                    {{ client.adresse }}
                </p>
            </div>
        </div>
    </div>
    <br><br>
</div>