<div class="container" style="margin-left: 5%;">
   <br><br>
   <h1>Inscription : </h1>
   <br>
   <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text">Identifiant : </span></div>
      <input type="text" class="form-control" [(ngModel)]='log2'>
   </div>
   <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-outline-success" type="button" (click)="verif_dispo_log()">Valider</button>
   </div>
   <p class="mt-3" style="color:red;">
      {{message_dispo_log}}
   </p>
   <br><br>
</div>