<div class="row mt-3">
    <h1 class="my-4">Gérer réservations: </h1>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Horaire</th>
            <th>Nom</th>
            <th>Nombre personnes</th>
            <th>Téléphone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pist of listResa">
              <td>{{pist.jour}} {{pist.heure}}</td>
              <td>{{pist.nom}}</td>
              <td>{{pist.nbrpers}}</td>
              <td>{{pist.tel}}</td>
              <td><button class="btn btn-outline-danger" (click)="cancelResa(pist.idresa)">Supprimer</button></td>
          </tr>
        </tbody>
    </table>
</div>