<br>
<br>
<h1>Nos plats : </h1>
<br>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let art of Mylist">
        <div class="card h-100">
            <img src="{{ art.url_image }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ art.nom }}</h5>
                <p class="card-text">{{ art.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Prix : {{ art.prix }} euros</small>
            </div>
        </div>
    </div>
</div>
<br><br>