<div class="container">
    <br><br>
    <h1>Sélection des plats : </h1>
    <br>

    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" aria-label="arobase">Plat : </span></div>
        <select id="plat" class="form-control" [(ngModel)]="select_choice">
            <option *ngFor="let art of Mylist" value="{{ art.id }}">
                {{art.nom}} ({{art.prix}}€)
            </option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Quantite : </span></div>
        <input type="number" class="form-control" [(ngModel)]='qtt'>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-outline-success" type="button" (click)="ajout()">AJOUT</button>
    </div>
    <p class="my-3"style="color:red;">
        {{message}}
    </p>
    <div *ngIf="iscommande">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Quantite</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ligne of liste_commande">
                        <td>
                            {{ligne.article.nom}}
                        </td>
                        <td>
                            {{ligne.quantite}}
                        </td>
                        <td>
                            {{ligne.article.prix}}
                        </td>
                        <td>
                            {{ligne.prixLigne}}
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" type="button"
                                (click)="supprimer(ligne)">SUPPRIMER</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-outline-danger me-4" type="button" (click)="vider()">VIDER PANIER</button>
            <button class="btn btn-outline-success" type="button" (click)="continuer()">CONTINUER</button>
        </div>
    </div>
</div>