<div class="container mb-5">
    <div class="row mt-3">
        <div class="col-2"></div>
        <div class="col-8 card">
            <h1 class="my-4">Modifier vos informations: </h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Login : </span>
                </div>
                <input class="form-control" readonly name="loginm" [(ngModel)]="cli1.login">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mot de passe :</span>
                </div>
                <input type="password" class="form-control" name="mdpm" [(ngModel)]="cli1.psw">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nom :</span>
                </div>
                <input class="form-control" name="nomm" [(ngModel)]="cli1.nom">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prenom :</span>
                </div>
                <input class="form-control" name="prenomm" [(ngModel)]="cli1.prenom">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Adresse :</span>
                </div>
                <input class="form-control" name="adressem" [(ngModel)]="cli1.adresse">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Téléphone :</span>
                </div>
                <input class="form-control" name="telm" [(ngModel)]="cli1.tel">
            </div>
            <button class="btn btn-outline-success mb-3" (click)="modifinfo()">Modifier </button>
            <p>{{message_update}}</p>
        </div>
    </div>
</div>