<div class="container">
    <br><br>
    <h1>Récapitulatif des plats de la commande : </h1>
    <br>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantite</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligne of liste_commande">
                    <td>
                        {{ligne.article.nom}}
                    </td>
                    <td>
                        {{ligne.quantite}}
                    </td>
                    <td>
                        {{ligne.article.prix}}
                    </td>
                    <td>
                        {{ligne.prixLigne}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>Prix total: {{ prix_commande }}€</p>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-outline-primary me-4" type="button" (click)="retour()">Retour</button>
        <button class="btn btn-outline-success" type="button" (click)="valider()">Valider</button>
        
    </div>
    <br><br>
</div>