<footer class="footer mt-auto py-3 bg-dark">
    <div class="container d-flex justify-content-center py-5">
        <div>
            <img src="/assets/images/company-1.png" class="card-img-top" alt="">
        </div>
        <div>
            <img src="/assets/images/company-2.png" class="card-img-top" alt="">
        </div>
        <div>
            <img src="/assets/images/company-3.png" class="card-img-top" alt="">
        </div>
        <div>
            <img src="/assets/images/company-4.png" class="card-img-top" alt="">
        </div>
    </div>
</footer>