<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8 card">
        <h1 class="my-4">Mes réservations: </h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Horaire</th>
                    <th>Nombre personnes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pist of ListResaCli">
                    <td>
                        {{pist.jour}} {{pist.heure}}
                    </td>
                    <td>
                        {{pist.nbrpers}} personnes
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="Annulerresa(pist.idresa)">Annuler </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-outline-success mb-3" (click)="Newresa()">Faire une nouvelle Réservation </button>
    </div>
</div>