<br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/slider.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/slider1.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="/assets/images/slider2.jpg" class="d-block w-100" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>
<div class="card-group">
    <div class="card bg-success text-white">
        <img src="/assets/images/category-image-1.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Frais de transport gratuit</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
    </div>
    <div class="card bg-light">
        <img src="/assets/images/category-image-2.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Un suivit régulier</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
    </div>
    <div class="card bg-danger text-white">
        <img src="/assets/images/category-image-3.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Contactez nous</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
    </div>
</div>
<br><br>