<div class="card mt-3 px-2">
    <h1 class="my-4">Liste des articles disponibles :</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id:</th>
                <th>Nom :</th>
                <th> Description :</th>
                <th>Prix:</th>
                <th>Url image: </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pist of ListArtAdm">
                <td class="align-items-center">
                    <p style="color:grey;"> {{pist.id}}</p>

                </td>
                <td>
                    <input class="form-control" name="nomartm" [(ngModel)]="pist.nom">
                </td>
                <td>

                    <input class="form-control" name="descartm" [(ngModel)]="pist.description">

                </td>

                <td>

                    <input class="form-control" name="tarartm" [(ngModel)]="pist.prix">

                </td>

                <td>

                    <input class="form-control" name="urlartm" [(ngModel)]="pist.url_image">

                </td>
                <td>

                    <button class="btn btn-outline-success" (click)="modifart(pist)">Modifier </button>
                </td>
                <td  class="align-items-center">

                    <button class="btn btn-outline-danger" (click)="supprart(pist.id)">Supprimer </button>
                </td>

            </tr>
        </tbody>
    </table>
    
    <p style="color:red;">
        {{message_lstart}}
    </p>
    
    <table class="mt-5 mb-3">
            <h1 class="mb-3">Créer un article : </h1>
            <tr>
                <th>Nom :</th>
                <th> Description :</th>
                <th>Prix:</th>
                <th>Url image: </th>


            </tr>
            <tr>
                <td>

                    <input class="form-control" name="nomartm2" [(ngModel)]="newart.nom">

                </td>

                <td>

                    <input class="form-control" name="descartm2" [(ngModel)]="newart.description">

                </td>

                <td>

                    <input class="form-control" name="tarartm2" [(ngModel)]="newart.prix">

                </td>

                <td>

                    <input class="form-control" name="urlartm2" [(ngModel)]="newart.url_image">

                </td>
                <td>

                    <button class="btn btn-outline-success" (click)="ajoutart()">Ajouter </button>
                </td>

            </tr>

    </table>
</div>


<br>